
.example-title {
    font-size: 1.5em;
    font-weight: 300;
    font-family: system-ui;
    color: #bebebe;
    text-align: left;
    background-color: #3a3a3a;
    padding: 5px 10px;
    margin: 0;
}